# This is Git's per-user configuration file.

[core]
excludesfile = ~/.gitignore
	pager = cat

[user]
	name = Lucas Gruwez
	email = gruwez.lucas@gmail.com

[alias]
# Add only tracked files (like `git add -u`)
addu = add -u
# Undo last commit but keep changes staged
undo = reset --soft HEAD~1
# Undo last commit and unstage changes
nuke = reset --hard HEAD~1
[credential]
	helper = osxkeychain
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
