# This is Git's per-user configuration file.

[core]
excludesfile = ~/.gitignore

[user]
name = Lucas Gruwez
email = gruwez.lucas@gmail.com

[alias]
# Add only tracked files (like `git add -u`)
addu = add -u
# Undo last commit but keep changes staged
undo = reset --soft HEAD~1
# Undo last commit and unstage changes
nuke = reset --hard HEAD~1
[credential]
	helper = osxkeychain
